@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

/* Changing default styles of brower */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* Main CSS */
body {
  background-color: #121212;
}

/* Grid layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 1rem; */
}

/* Background lines */
.line {
  width: 1pt;
  position: fixed;
  background-color: none;
  height: 100%;
}

.line1 {
  left: 25%;
  animation-name: line1-3_animation;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.line3 {
  left: 75%;
  animation-name: line1-3_animation;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

/* Keyframes for background lines */
@keyframes line1-3_animation {
  from {
    height: 0%;
  }
  to {
    height: 100%;
    background-color: #b3b3b3;
  }
}

/* Progression bar */
.line2 {
  left: 50%;
  background-color: grey;
  height: 100%;
  bottom: 0;
  color: #b3b3b3;
}

.text {
  color: black;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: semi-bold;
  padding: 1rem;
}

/* Light section */
.light-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-start: 1;
  grid-column-end: 3;
  height: 100vh;
  background-color: #e1e1e1;
}

/* CTA light section */
.cta-light {
  height: 150px;
  width: 150px;
  place-self: center;
  /* background-color: #e1e1e1; */
  position: fixed;
  /* border: 1px solid #b3b3b3; */
  -ms-transform: rotate(45deg); /* Internet Explorer */
  -moz-transform: rotate(45deg); /* Firefox */
  -webkit-transform: rotate(45deg); /* Safari et Chrome */
  -o-transform: rotate(45deg); /* Opera */
  animation-name: cta_light_animation;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

.cta-light-txt {
  transform: rotate(-45deg);
  font-family: Montserrat;
  font-weight: semi-bold;
  padding-left: 1rem;
  padding-top: 3rem;
  font-size: 20px;
  text-transform: uppercase;
  color: transparent;
  animation-name: cta_light_text_animation;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

.cta-light-hover {
  height: 150px;
  width: 150px;
  place-self: center;
  position: fixed;
  border: 1px solid transparent;
  -ms-transform: rotate(45deg); /* Internet Explorer */
  -moz-transform: rotate(45deg); /* Firefox */
  -webkit-transform: rotate(45deg); /* Safari et Chrome */
  -o-transform: rotate(45deg); /* Opera */
}

.cta-light:hover {
  border: 1px solid blue !important;
  transition: 1s ease-in-out !important;
  cursor: pointer !important;
}

/* Keyframes for CTA light */
@keyframes cta_light_animation {
  0% {
    color: #e1e1e1;
    border: 1px solid #e1e1e1;
  }
  100% {
    background-color: #e1e1e1;
    border: 1px solid #b3b3b3;
  }
}

@keyframes cta_light_text_animation {
  0% {
  }
  100% {
    color: black;
  }
}

/* Dark section */
.dark-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-start: 3;
  grid-column-end: 6;
}

.dark-container1 {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #e1e1e1;
  animation-name: dark-container_animation;
  animation-duration: 1.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

.dark-container2 {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #e1e1e1;
  animation-name: dark-container_animation;
  animation-duration: 1.6s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

/* Keyframes for dark container */
@keyframes dark-container_animation {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

/* CTA dark section */
.cta-dark {
  height: 150px;
  width: 150px;
  place-self: center;
  /* background-color: #121212; */
  position: fixed;
  /* border: 1px solid #272727; */
  -ms-transform: rotate(45deg); /* Internet Explorer */
  -moz-transform: rotate(45deg); /* Firefox */
  -webkit-transform: rotate(45deg); /* Safari et Chrome */
  -o-transform: rotate(45deg); /* Opera */
  animation-name: cta_dark_animation;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

.cta-dark-txt {
  color: white;
  transform: rotate(-45deg);
  font-family: Montserrat;
  font-weight: semi-bold;
  padding-left: 1rem;
  padding-top: 3rem;
  font-size: 20px;
  text-transform: uppercase;
  color: transparent;
  animation-name: cta_dark_text_animation;
  animation-duration: 1s;
  /* color: #e1e1e1; */
  animation-delay: 5s;
  animation-fill-mode: both;
}

.cta-dark-hover {
  height: 150px;
  width: 150px;
  place-self: center;
  position: fixed;
  border: 1px solid transparent;
  -ms-transform: rotate(45deg); /* Internet Explorer */
  -moz-transform: rotate(45deg); /* Firefox */
  -webkit-transform: rotate(45deg); /* Safari et Chrome */
  -o-transform: rotate(45deg); /* Opera */
}

.cta-dark:hover {
  border: 1px solid blue !important;
  transition: 1s ease-in-out !important;
  cursor: pointer !important;
}

@keyframes cta_dark_animation {
  0% {
    color: #e1e1e1;
    border: 1px solid #e1e1e1;
  }
  100% {
    background-color: #121212;
    border: 1px solid #b3b3b3;
  }
}

@keyframes cta_dark_text_animation {
  0% {
  }
  100% {
    color: white;
  }
}
