/* Changing default styles of brower */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* Main CSS */
body {
  background-color: black;
}

/* Grid layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 1rem; */
}

/* Background lines */
.line {
  width: 1pt;
  position: fixed;
  background-color: none;
  height: 100%;
  /* z-index: -4; */
}

.line1 {
  left: 25%;
  animation-name: line1-3_animation;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.line3 {
  left: 75%;
  animation-name: line1-3_animation;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

/* Keyframes for background lines */
@keyframes line1-3_animation {
  from {
    height: 0%;
  }
  to {
    height: 100%;
    background-color: grey;
  }
}

/* .line2 {
  left: 50%;
  animation-name: line2_animation;
  animation-duration: 3s;
}

.line2-bis {
  left: 50%;
  background-color: grey;
} */

/* Progression bar */
.line2 {
  left: 50%;
  background-color: grey;
  height: 100%;
  bottom: 0;
  color: white;
}

/* .p1 {
  padding-left: 1rem;
  font-size: 20px;
  font-weight: bold;
} */

/* CTA */
.cta-light {
  height: 150px;
  width: 150px;
  left: 21.1%;
  top: 40%;
  background: red;
  position: fixed;
  -ms-transform: rotate(45deg); /* Internet Explorer */
  -moz-transform: rotate(45deg); /* Firefox */
  -webkit-transform: rotate(45deg); /* Safari et Chrome */
  -o-transform: rotate(45deg); /* Opera */
}

/* Light section */

.light-container {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 100vh;
  background-color: #e1e1e1;
}

/* Dark section */

.dark-container1 {
  display: flex;
  grid-column-start: -1;
  grid-column-end: 4;
  background-color: red;
  height: 100%;
  animation-name: dark-container1_animation;
  animation-duration: 1.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

/* Keyframes for dark container */
/* @keyframes dark-container1_animation {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
} */

.dark-container2 {
  display: flex;
  grid-column-start: 0;
  grid-column-end: 4;
  background-color: red;
  height: 100%;
}
